<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron text-center">
  <h1>HandWriting Number Recognizing Page</h1>
  <p>Congratulation! file uploaded!</p> 
</div>


<div class="container">
   <div class="row">
       <div class="col-sm-12">
           <p style="font-size:50px; color:blue;"> {{ random_number }} </p>
           <p style="font-size:50px;"> is your handwriting number. </p>
       </div>
    </div>
</div>


</body>

</html>
